create extension if not exists "postgis" with schema "public";


  create table "public"."markers" (
    "id" uuid not null default gen_random_uuid(),
    "creator_id" uuid not null,
    "position" public.geometry(Point,4326) not null,
    "color" text,
    "image_url" text,
    "description" text,
    "created_at" timestamp with time zone default now(),
    "lat" double precision generated always as (public.st_y(("position")::public.geometry)) stored,
    "lon" double precision generated always as (public.st_x(("position")::public.geometry)) stored
      );


alter table "public"."markers" enable row level security;


  create table "public"."shared_markers" (
    "marker_id" uuid not null,
    "friend_user_id" uuid not null
      );


alter table "public"."shared_markers" enable row level security;


  create table "public"."user_fog" (
    "user_id" uuid not null,
    "fog_polygon" public.geometry(MultiPolygon,4326) default public.st_geomfromtext('MULTIPOLYGON EMPTY'::text, 4326)
      );


alter table "public"."user_fog" enable row level security;

CREATE UNIQUE INDEX markers_pkey ON public.markers USING btree (id);

CREATE UNIQUE INDEX shared_markers_pkey ON public.shared_markers USING btree (marker_id, friend_user_id);

CREATE UNIQUE INDEX user_fog_pkey ON public.user_fog USING btree (user_id);

alter table "public"."markers" add constraint "markers_pkey" PRIMARY KEY using index "markers_pkey";

alter table "public"."shared_markers" add constraint "shared_markers_pkey" PRIMARY KEY using index "shared_markers_pkey";

alter table "public"."user_fog" add constraint "user_fog_pkey" PRIMARY KEY using index "user_fog_pkey";

alter table "public"."markers" add constraint "markers_creator_id_fkey" FOREIGN KEY (creator_id) REFERENCES auth.users(id) not valid;

alter table "public"."markers" validate constraint "markers_creator_id_fkey";

alter table "public"."shared_markers" add constraint "shared_markers_friend_user_id_fkey" FOREIGN KEY (friend_user_id) REFERENCES auth.users(id) not valid;

alter table "public"."shared_markers" validate constraint "shared_markers_friend_user_id_fkey";

alter table "public"."shared_markers" add constraint "shared_markers_marker_id_fkey" FOREIGN KEY (marker_id) REFERENCES public.markers(id) ON DELETE CASCADE not valid;

alter table "public"."shared_markers" validate constraint "shared_markers_marker_id_fkey";

alter table "public"."user_fog" add constraint "user_fog_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) not valid;

alter table "public"."user_fog" validate constraint "user_fog_user_id_fkey";

set check_function_bodies = off;

CREATE OR REPLACE FUNCTION public.add_fog_point(new_lat double precision, new_lon double precision)
 RETURNS void
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
BEGIN
    UPDATE user_fog
    SET fog_polygon = ST_Union(
        fog_polygon,
        -- Zieht einen 100 Meter Radius um die neue Koordinate
        ST_Buffer(ST_SetSRID(ST_MakePoint(new_lon, new_lat), 4326)::geography, 100)::geometry
    )
    WHERE user_id = auth.uid();
END;
$function$
;

CREATE OR REPLACE FUNCTION public.create_marker(lat double precision, lon double precision, description text, color text, image_url text, user_id uuid)
 RETURNS void
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO 'public'
AS $function$
BEGIN
  INSERT INTO markers (creator_id, position, description, color, image_url)
  VALUES (
    user_id, 
    ST_SetSRID(ST_MakePoint(lon, lat), 4326), 
    description,
    color,
    image_url
  );
END;
$function$
;

-- 1. Berechtigungen für die Rollen vergeben
GRANT UPDATE, DELETE ON public.markers TO authenticated;
GRANT UPDATE, DELETE ON public.markers TO anon;

-- 2. RLS-Policies für Update und Delete erstellen
-- (Hinweis: Falls du dich für die "creators only"-Variante entschieden hast, passe das USING entsprechend an)
CREATE POLICY "Enable update for all users"
ON public.markers
FOR UPDATE
USING (true)
WITH CHECK (true);

CREATE POLICY "Enable delete for all users"
ON public.markers
FOR DELETE
USING (true);

create type "public"."geometry_dump" as ("path" integer[], "geom" public.geometry);

create type "public"."valid_detail" as ("valid" boolean, "reason" character varying, "location" public.geometry);

grant references on table "public"."markers" to "anon";

grant trigger on table "public"."markers" to "anon";

grant truncate on table "public"."markers" to "anon";

grant references on table "public"."markers" to "authenticated";

grant select on table "public"."markers" to "authenticated";

grant trigger on table "public"."markers" to "authenticated";

grant truncate on table "public"."markers" to "authenticated";

grant references on table "public"."markers" to "service_role";

grant trigger on table "public"."markers" to "service_role";

grant truncate on table "public"."markers" to "service_role";

grant references on table "public"."shared_markers" to "anon";

grant trigger on table "public"."shared_markers" to "anon";

grant truncate on table "public"."shared_markers" to "anon";

grant references on table "public"."shared_markers" to "authenticated";

grant trigger on table "public"."shared_markers" to "authenticated";

grant truncate on table "public"."shared_markers" to "authenticated";

grant references on table "public"."shared_markers" to "service_role";

grant trigger on table "public"."shared_markers" to "service_role";

grant truncate on table "public"."shared_markers" to "service_role";

grant delete on table "public"."spatial_ref_sys" to "anon";

grant insert on table "public"."spatial_ref_sys" to "anon";

grant references on table "public"."spatial_ref_sys" to "anon";

grant select on table "public"."spatial_ref_sys" to "anon";

grant trigger on table "public"."spatial_ref_sys" to "anon";

grant truncate on table "public"."spatial_ref_sys" to "anon";

grant update on table "public"."spatial_ref_sys" to "anon";

grant delete on table "public"."spatial_ref_sys" to "authenticated";

grant insert on table "public"."spatial_ref_sys" to "authenticated";

grant references on table "public"."spatial_ref_sys" to "authenticated";

grant select on table "public"."spatial_ref_sys" to "authenticated";

grant trigger on table "public"."spatial_ref_sys" to "authenticated";

grant truncate on table "public"."spatial_ref_sys" to "authenticated";

grant update on table "public"."spatial_ref_sys" to "authenticated";

grant delete on table "public"."spatial_ref_sys" to "postgres";

grant insert on table "public"."spatial_ref_sys" to "postgres";

grant references on table "public"."spatial_ref_sys" to "postgres";

grant select on table "public"."spatial_ref_sys" to "postgres";

grant trigger on table "public"."spatial_ref_sys" to "postgres";

grant truncate on table "public"."spatial_ref_sys" to "postgres";

grant update on table "public"."spatial_ref_sys" to "postgres";

grant delete on table "public"."spatial_ref_sys" to "service_role";

grant insert on table "public"."spatial_ref_sys" to "service_role";

grant references on table "public"."spatial_ref_sys" to "service_role";

grant select on table "public"."spatial_ref_sys" to "service_role";

grant trigger on table "public"."spatial_ref_sys" to "service_role";

grant truncate on table "public"."spatial_ref_sys" to "service_role";

grant update on table "public"."spatial_ref_sys" to "service_role";

grant references on table "public"."user_fog" to "anon";

grant trigger on table "public"."user_fog" to "anon";

grant truncate on table "public"."user_fog" to "anon";

grant references on table "public"."user_fog" to "authenticated";

grant trigger on table "public"."user_fog" to "authenticated";

grant truncate on table "public"."user_fog" to "authenticated";

grant references on table "public"."user_fog" to "service_role";

grant trigger on table "public"."user_fog" to "service_role";

grant truncate on table "public"."user_fog" to "service_role";


  create policy "Marker sehen"
  on "public"."markers"
  as permissive
  for select
  to public
using (((auth.uid() = creator_id) OR (EXISTS ( SELECT 1
   FROM public.shared_markers
  WHERE ((shared_markers.marker_id = markers.id) AND (shared_markers.friend_user_id = auth.uid()))))));



  create policy "Nur eigenes Fog aktualisieren"
  on "public"."user_fog"
  as permissive
  for update
  to public
using ((auth.uid() = user_id));



  create policy "Nur eigenes Fog lesen"
  on "public"."user_fog"
  as permissive
  for select
  to public
using ((auth.uid() = user_id));




